html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#reader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: wheat;
    display: flex;
    flex-direction: column;
}

#reader #toolbar {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.05);
    padding: 10px;
}

#reader #toolbar .left {
    flex: 0 1 auto;
}

#reader #toolbar .center {
    flex: 0 1 auto;
}

#reader #toolbar .right {
    flex: 0 1 auto;
}

#reader #area {
    flex: 1 0 auto;
    display: flex;
    position: relative;
}

#reader #area div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}